services:
  - type: web
    name: crimsys
    env: php
    plan: free
    buildCommand: composer install
    startCommand: php -S 0.0.0.0:8000
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 3306
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false

databases:
  - name: crimsys-db
    databaseName: crimsys_db
    user: crimsys_user
    ipAllowList: []
